$tablet-size: 481px;
$laptop-size: 769px;
$desktop-size: 1025px;
$desktop-large-size: 1201px;

@mixin tablet {
  @media screen and (min-width: #{$tablet-size}) {
    .cardWrapper {
      grid-template-columns: repeat(1, 1fr);
      @content;
    }
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-size}) {
    .cardWrapper {
      grid-template-columns: repeat(2, 1fr);
      @content;
    }
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-size}) {
    .cardWrapper {
      grid-template-columns: repeat(2, 2fr);
      @content;
    }
  }
}

@mixin desktop-large {
  @media screen and (min-width: #{$desktop-large-size}) {
    .cardWrapper {
      grid-template-columns: repeat(3, 1fr);
      @content;
    }
  }
}
